:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
